<component name="ArtifactManager">
  <artifact type="jar" name="plugin">
    <output-path>$PROJECT_DIR$/out/artifacts/plugin</output-path>
    <root id="archive" name="plugin.jar">
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/META-INF/MANIFEST.MF" />
        <element id="file-copy" path="$PROJECT_DIR$/META-INF/plugin.xml" />
      </element>
      <element id="module-output" name="JPowerConfig" />
    </root>
  </artifact>
</component>